<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>summaryBill</key>
		<dict>
			<key>date</key>
			<string>2月</string>
			<key>times</key>
			<string>加油2次</string>
			<key>oil</key>
			<string>100升</string>
			<key>perCost</key>
			<string>6.8元/升</string>
		</dict>
		<key>subBills</key>
		<array>
			<dict>
				<key>date</key>
				<string>2月1日</string>
				<key>oil</key>
				<string>加油52升</string>
				<key>perCost</key>
				<string>6.9元/升</string>
				<key>totalCost</key>
				<string>￥1999.00</string>
			</dict>
			<dict>
				<key>date</key>
				<string>2月15日</string>
				<key>oil</key>
				<string>加油69升</string>
				<key>perCost</key>
				<string>6.4元/升</string>
				<key>totalCost</key>
				<string>￥1234.00</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>summaryBill</key>
		<dict>
			<key>date</key>
			<string>3月</string>
			<key>times</key>
			<string>加油2次</string>
			<key>oil</key>
			<string>109升</string>
			<key>perCost</key>
			<string>6.7元/升</string>
		</dict>
		<key>subBills</key>
		<array>
			<dict>
				<key>date</key>
				<string>3月1日</string>
				<key>oil</key>
				<string>加油51升</string>
				<key>perCost</key>
				<string>6.8元/升</string>
				<key>totalCost</key>
				<string>￥1345.00</string>
			</dict>
			<dict>
				<key>date</key>
				<string>3月13日</string>
				<key>oil</key>
				<string>加油22升</string>
				<key>perCost</key>
				<string>7.2元/升</string>
				<key>totalCost</key>
				<string>￥1963.00</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
