<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>diagnosis_ybb_img.png</string>
		<key>title</key>
		<string>ybb</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>diagnosis_ybb_img.png</string>
		<key>title</key>
		<string>ybb</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>diagnosis_all_img.png</string>
		<key>title</key>
		<string>综合</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>diagnosis_aqqn_img.png</string>
		<key>title</key>
		<string>aqqn</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>diagnosis_bsxdzsb_img.png</string>
		<key>title</key>
		<string>bsxdzsb</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>diagnosis_ckccmdzsb_img.png</string>
		<key>title</key>
		<string>ckccmdzsb</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>diagnosis_dlzx_img.png</string>
		<key>title</key>
		<string>dlzx</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>diagnosis_fdjdzzz_img.png</string>
		<key>title</key>
		<string>fdjdzzz</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>diagnosis_fqds_img.png</string>
		<key>title</key>
		<string>fqds</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>diagnosis_jsyccmdzsb_img.png</string>
		<key>title</key>
		<string>jsyccmdzsb</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>diagnosis_syj_img.png</string>
		<key>title</key>
		<string>syj</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>diagnosis_tcfzzz_img.png</string>
		<key>title</key>
		<string>tcfzzz</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>diagnosis_ybb_img.png</string>
		<key>title</key>
		<string>ybb</string>
	</dict>
</array>
</plist>
