<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>status</key>
		<string>red</string>
		<key>icon</key>
		<string>under_pan.png</string>
		<key>title</key>
		<string>底盘系统</string>
	</dict>
	<dict>
		<key>status</key>
		<string>green</string>
		<key>icon</key>
		<string>car_body.png</string>
		<key>title</key>
		<string>车身系统</string>
	</dict>
	<dict>
		<key>status</key>
		<string>green</string>
		<key>icon</key>
		<string>engine.png</string>
		<key>title</key>
		<string>发动机系统</string>
	</dict>
	<dict>
		<key>status</key>
		<string>yellow</string>
		<key>icon</key>
		<string>battary.png</string>
		<key>title</key>
		<string>电瓶状态</string>
	</dict>
</array>
</plist>
